.header-background {
	margin-right: -15px;
	margin-left: -15px;
	border-bottom: 4px solid black;
	border-top: 4px solid black;
}

.social-media-container {
	height: 2em;
	padding: 0.5em 1em 0.5em 1em;
}

.social-media-link, .social-media-link:hover, .social-media-link:visited {
	color: white;
	height: 100%;
}

.social-media-icon {
	height: 2em;
	display: inline-block;
	padding-right: 0.75em;
}

.page-title {
    color: white;
    text-align: center;
    font-size:4em;
    font-weight: bold;
	text-shadow:
		3px 3px 0 #000,
  		-1px -1px 0 #000,
   		1px -1px 0 #000,
   		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.image-strip {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	height: 100px;
	text-align: right;
	padding-right: 15px;
}

.image-strip .image-source-link {
	display: inline-block;
	color: #000;
	background-color: #FFF;
}

.page-subtitle {
    font-family: monospace;
    font-size: 2em;
    color: white;
    text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.footer-links {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 4px solid black;
	text-align: center;
}
