.title-container {
	background-color:purple;
}

.title-container h1 {
    color: white;
    text-align: center;
    font-size:4em;
    font-weight: bold;
	text-shadow:
		3px 3px 0 #000,
  		-1px -1px 0 #000,
   		1px -1px 0 #000,
   		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.subtitle-container {
	background-color:purple;
}


.image-strip {
	height: 100px;
	border:3px solid black;
	text-align: right;
}

.image-strip .image-source-link {
	display: inline-block;
	color: #000;
	background-color: #FFF;
}

.subtitle-container h2 {
    font-family: monospace;
    font-size: 2em;
    color: white;
    text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.footer-links {
	margin-top: 2em;
	padding-top: 2em;
	border-top: 4px groove black;
	text-align: center;
}
