{% include 'header.html' %}

        <div class="row">
            <div class="col-md-12">
                <h3>Confirmed Sessions</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        {{ random_session() }}
                    </li>
                    <li>
                        {{ random_session() }}
                    </li>
                    <li>
                        {{ random_session() }}
                    </li>
                </ul>
            </div>
        </div>

{% include 'footer.html' %}
