{% include 'header.html' %}

        <div class="row">
            <div class="col-md-12">
                <h3>Confirmed Sessions</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        {{ subdomain_title}}: The Past, the {{ synonym("nouns","future").title() }}, the Opportunities for Libraries!
                    </li>
                    <li>
                        {{ synonym("verbs","leading").title() }} with {{ subdomain_title}} in the {{ synonym("concepts","types_of_libraries").title() }} Library: Lessons from the {{ synonym("nouns","leadership").title() }} Trenches
                    </li>
                    <li>
                        {{ synonym("concepts","demographic_groups").title() }} and {{ subdomain_title }}: {{ synonym("nouns","risk").title() }} or {{ synonym("nouns","opportunity").title() }}? Both!
                    </li>
                </ul>
            </div>
        </div>

{% include 'footer.html' %}
