<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inlibraries.css') }}">
</head>

<body>
<h1>{{ subdomain_title }} In Libraries {{ year }}</h1>
<h2>How Will Your Library {{ synonym("verbs","use").title() }} {{ subdomain_title }} In the {{ synonym("nouns","future").title() }} ?</h2>

        <h3>Confirmed sessions include:</h3>
        <ul>
            <li>
                {{ subdomain_title}}: The Past, the {{ synonym("nouns","future").title() }}, the Opportunities for Libraries!
            </li>
            <li>
                {{ synonym("verbs","leading").title() }} with {{ subdomain_title}} in the {{ synonym("concepts","types_of_libraries").title() }} Library: Lessons from the {{ synonym("nouns","leadership").title() }} Trenches
            </li>
            <li>
                {{ synonym("concepts","demographic_groups").title() }} and {{ subdomain_title }}: {{ synonym("nouns","risk").title() }} or {{ synonym("nouns","opportunity").title() }}? Both!
            </li>
        </ul>
</body>
</html>
