<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Twitter meta -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@waharnum" />
        <meta name="twitter:title" content="{{ subdomain_title }} In Libraries {{ year }}" />
        <meta name="twitter:description" content="Unlock the secrets of {{ subdomain }} in YOUR library in {{ year }}!" />

        <!-- Facebook meta -->
        <meta property="og:url"           content="http://{{ subdomain}}.inlibraries.com" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{ subdomain_title }} In Libraries {{ year }}" />
        <meta property="og:description"   content="Unlock the secrets of {{ subdomain }} in YOUR library in {{ year }}!" />

        <title>{{ subdomain_title }} In Libraries {{ year }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/inlibraries.css') }}">
        <link rel="stylesheet" type="text/css" href="/css/random.css">
    </head>

<body class="front_page">

    <div class="container-fluid">
        <div class="header-background">
            <div class="row social-media-container">
                {% include 'social_media.html' %}
            </div>
            <div class="row title-container">
                <div class="col-md-12">
                    <h1 class="page-title">{{ subdomain_title }} In Libraries {{ year }}</h1>
                    <h2 class="page-subtitle time-venue">{{ display_date }}, {{conference_location}} Conference Centre</h2>                    
                </div>
            </div>
            <div class="row image-strip" style="background-image: url('/static/assets/images/{{ random_strip_image["filename"] }}');"><a class="image-source-link" href='{{ random_strip_image["source"] }}'>Source</a></div>
            <div class="row subtitle-container">
                <div class="col-md-12">
                    <h2 class="page-subtitle">How Will Your Library {{ synonym("verbs","use").title() }} {{ subdomain_title }} In the {{ synonym("nouns","future").title() }}?</h2>
                </div>
            </div>
        </div>
