<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ subdomain_title }} In Libraries {{ year }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-theme.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/inlibraries.css') }}">
    </head>

<body class="front_page">
    <div class="container-fluid">
        <div class="row title-container" style="background: {{ random_white_text_gradient() }};">
            <div class="col-md-12">
                <h1>{{ subdomain_title }} In Libraries {{ year }}</h1>
            </div>
        </div>
        {% set random_strip_image = random_image() %}
        <div class="row image-strip" style="background-image: url('/static/assets/images/{{ random_strip_image["filename"] }}');"><a class="image-source-link" href='{{ random_strip_image["source"] }}'>Source</a></div>
        <div class="row subtitle-container">
            <div class="col-md-12">
                <h2>How Will Your Library {{ synonym("verbs","use").title() }} {{ subdomain_title }} In the {{ synonym("nouns","future").title() }}?</h2>
            </div>
        </div>
