<h3>Keynote Speakers</h3>
<ul>
    <li>Skip Charlesworth, Director of Service {{ synonym('nouns','innovation').title() }}, {{ synonym('concepts','fake_cities').title() }} Public Library</li>
    <li>Patricia Hacksworth-Flemingdon, {{ synonym('nouns','thought leader').title() }} and Consultant, Hacksworth-Flemingdon LLC</li>
    <li>Alexander Snarlsworth, Head of {{ synonym('concepts','types_of_library_departments').title() }}, {{ synonym('concepts','fake_academic_libraries').title() }}, {{ synonym('concepts','fake_higher_ed').title() }}</li>
</ul>
